In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import re

In [2]:
url = 'http://apis.data.go.kr/1741000/HeatWaveShelter2/getHeatWaveShelterList2'
key = 'HX6ZTyO8gcjDl3YXZB1%2BhpBYFY0krNvN58zi04jdVR5zW458EmPx%2FusLCZMveRhulDwq%2F3gRGVemlhiJV6PHbA%3D%3D'

In [42]:
"""queryParams = '?'+'serviceKey='+key+'&pageNo='+pageno+'&numOfRows='+nor+'&type='+t+\
'&year='+year+'&areaCd='+ac+'&equptype='+et

print(queryParams)""" # 전체 쿼리

?serviceKey=HX6ZTyO8gcjDl3YXZB1%2BhpBYFY0krNvN58zi04jdVR5zW458EmPx%2FusLCZMveRhulDwq%2F3gRGVemlhiJV6PHbA%3D%3D&pageNo=1&numOfRows=1&type=xml&year=2020&areaCd=1111051000&equptype=001

In [3]:
t = 'xml'

In [16]:
pageno = '5'
nor = '1000'
t = 'xml'
ac = ''

In [54]:
u

'http://apis.data.go.kr/1741000/HeatWaveShelter2/getHeatWaveShelterList2?serviceKey=HX6ZTyO8gcjDl3YXZB1%2BhpBYFY0krNvN58zi04jdVR5zW458EmPx%2FusLCZMveRhulDwq%2F3gRGVemlhiJV6PHbA%3D%3D&pageNo=299&numOfRows=1000&type=xml&areaCd=1147057000'

In [18]:
queryParams = '?'+'serviceKey='+key+'&pageNo='+pageno+'&numOfRows='+nor+'&type='+t+'&year='+'2020'
u = url + queryParams
res = requests.get(u).text.encode('utf-8')
b = BeautifulSoup(res)

In [19]:
b.findAll('row')[0].text.split('\n')

['',
 '46860397',
 '2021',
 '4686038000',
 '001',
 '신덕경로당',
 '전라남도 함평군 월야면신덕길 6',
 '2021-02-26 11:01:50.000',
 '2021-06-16 15:35:23.000',
 'Y',
 '전라남도 함평군 월야면',
 '20210614',
 '20210930',
 '85',
 '25',
 '1',
 '1',
 'Y',
 'Y',
 'N',
 '',
 '409-1',
 '4960092',
 '061-320-1984',
 '918866.46519300',
 '1692117.81080800',
 '35.22115510',
 '126.60848830',
 '']

In [95]:
'데이터없음' in str(b.find_all('resultmsg'))

True

In [20]:
pageno = '1'
t = 'xml'
nor = '1000'
l = []
while True:
    queryParams = '?'+'serviceKey='+key+'&pageNo='+pageno+'&numOfRows='+nor+'&type='+t
    u = url + queryParams
    res = requests.get(u).text.encode('utf-8')
    b = BeautifulSoup(res)
    
    if '데이터없음' in str(b.find_all('resultmsg')):
        break
    else:
        l.append(b)
        p = int(pageno)
        p = p+1
        pageno = str(p)
    
print('finish')

finish

In [79]:
"""l = []
queryParams = '?'+'serviceKey='+key+'&type='+t+'&areaCd='+'1174010700'
u = url + queryParams
res = requests.get(u).text.encode('utf-8')
b = BeautifulSoup(res)
l.append(b)
print('finish')"""

finish

In [22]:
col = ['연도','del0','시설번호', '시설명', '주소', 'del1','del2','사용여부','del3','del4','del5','면적', '이용가능인원수',
      '선풍기보유대수', '에어컨보유대수', '야간개방', '휴일개방', '숙박가능여부','del6','del7','del8','del9',
       'del10','del11','위도', '경도', 'del12']

In [21]:
len(l)

316

In [23]:
df1 = pd.DataFrame(columns = col)
df2 = pd.DataFrame(columns = col)

In [24]:
for j in range(0,316):
    df1 = pd.DataFrame(columns = col)
    for i in range(0, len(l[j].findAll('row'))):
        li = l[j].findAll('row')[i].text.split('\n')[2:]
        df1.loc[i] = li
        
    df2 = pd.concat([df2,df1])
    print(f'{j}번 완료')  
print('finish')

0번 완료
1번 완료
2번 완료
3번 완료
4번 완료
5번 완료
6번 완료
7번 완료
8번 완료
9번 완료
10번 완료
11번 완료
12번 완료
13번 완료
14번 완료
15번 완료
16번 완료
17번 완료
18번 완료
19번 완료
20번 완료
21번 완료
22번 완료
23번 완료
24번 완료
25번 완료
26번 완료
27번 완료
28번 완료
29번 완료
30번 완료
31번 완료
32번 완료
33번 완료
34번 완료
35번 완료
36번 완료
37번 완료
38번 완료
39번 완료
40번 완료
41번 완료
42번 완료
43번 완료
44번 완료
45번 완료
46번 완료
47번 완료
48번 완료
49번 완료
50번 완료
51번 완료
52번 완료
53번 완료
54번 완료
55번 완료
56번 완료
57번 완료
58번 완료
59번 완료
60번 완료
61번 완료
62번 완료
63번 완료
64번 완료
65번 완료
66번 완료
67번 완료
68번 완료
69번 완료
70번 완료
71번 완료
72번 완료
73번 완료
74번 완료
75번 완료
76번 완료
77번 완료
78번 완료
79번 완료
80번 완료
81번 완료
82번 완료
83번 완료
84번 완료
85번 완료
86번 완료
87번 완료
88번 완료
89번 완료
90번 완료
91번 완료
92번 완료
93번 완료
94번 완료
95번 완료
96번 완료
97번 완료
98번 완료
99번 완료
100번 완료
101번 완료
102번 완료
103번 완료
104번 완료
105번 완료
106번 완료
107번 완료
108번 완료
109번 완료
110번 완료
111번 완료
112번 완료
113번 완료
114번 완료
115번 완료
116번 완료
117번 완료
118번 완료
119번 완료
120번 완료
121번 완료
122번 완료
123번 완료
124번 완료
125번 완료
126번 완료
127번 완료
128번 완료
129번 완료
130번 완료
131번 완료
132번 완료
133번 완료
134번 완료
135번 완료
136번 완료
137번 완료
138번 완료
139번 완료
140번 완료
141번 완료
142번 완료
143번 완료
144번 완료
145번 완료
146번 완료
147번 완료
148번 완료
149번 완료
150번 완료
151번 완료
152번 완료
153번 완료
154번 완료
155번 완료
156번 완료
157번 완료
158번 완료
159번 완료
160번 완료
161번 완료
162번 완료
163번 완료
164번 완료
165번 완료
166번 완료
167번 완료
168번 완료
169번 완료
170번 완료
171번 완료
172번 완료
173번 완료
174번 완료
175번 완료
176번 완료
177번 완료
178번 완료
179번 완료
180번 완료
181번 완료
182번 완료
183번 완료
184번 완료
185번 완료
186번 완료
187번 완료
188번 완료
189번 완료
190번 완료
191번 완료
192번 완료
193번 완료
194번 완료
195번 완료
196번 완료
197번 완료
198번 완료
199번 완료
200번 완료
201번 완료
202번 완료
203번 완료
204번 완료
205번 완료
206번 완료
207번 완료
208번 완료
209번 완료
210번 완료
211번 완료
212번 완료
213번 완료
214번 완료
215번 완료
216번 완료
217번 완료
218번 완료
219번 완료
220번 완료
221번 완료
222번 완료
223번 완료
224번 완료
225번 완료
226번 완료
227번 완료
228번 완료
229번 완료
230번 완료
231번 완료
232번 완료
233번 완료
234번 완료
235번 완료
236번 완료
237번 완료
238번 완료
239번 완료
240번 완료
241번 완료
242번 완료
243번 완료
244번 완료
245번 완료
246번 완료
247번 완료
248번 완료
249번 완료
250번 완료
251번 완료
252번 완료
253번 완료
254번 완료
255번 완료
256번 완료
257번 완료
258번 완료
259번 완료
260번 완료
261번 완료
262번 완료
263번 완료
264번 완료
265번 완료
266번 완료
267번 완료
268번 완료
269번 완료
270번 완료
271번 완료
272번 완료
273번 완료
274번 완료
275번 완료
276번 완료
277번 완료
278번 완료
279번 완료
280번 완료
281번 완료
282번 완료
283번 완료
284번 완료
285번 완료
286번 완료
287번 완료
288번 완료
289번 완료
290번 완료
291번 완료
292번 완료
293번 완료
294번 완료
295번 완료
296번 완료
297번 완료
298번 완료
299번 완료
300번 완료
301번 완료
302번 완료
303번 완료
304번 완료
305번 완료
306번 완료
307번 완료
308번 완료
309번 완료
310번 완료
311번 완료
312번 완료
313번 완료
314번 완료
315번 완료
finish

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315245 entries, 0 to 244
Data columns (total 27 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   연도       315245 non-null  object
 1   del0     315245 non-null  object
 2   시설번호     315245 non-null  object
 3   시설명      315245 non-null  object
 4   주소       315245 non-null  object
 5   del1     315245 non-null  object
 6   del2     315245 non-null  object
 7   사용여부     315245 non-null  object
 8   del3     315245 non-null  object
 9   del4     315245 non-null  object
 10  del5     315245 non-null  object
 11  면적       315245 non-null  object
 12  이용가능인원수  315245 non-null  object
 13  선풍기보유대수  315245 non-null  object
 14  에어컨보유대수  315245 non-null  object
 15  야간개방     315245 non-null  object
 16  휴일개방     315245 non-null  object
 17  숙박가능여부   315245 non-null  object
 18  del6     315245 non-null  object
 19  del7     315245 non-null  object
 20  del8     315245 non-null  object
 21  del9     315245 non-null  object
 22  del10    315245 non-null  object
 23  del11    315245 non-null  object
 24  위도       315245 non-null  object
 25  경도       315245 non-null  object
 26  del12    315245 non-null  object
dtypes: object(27)
memory usage: 67.3+ MB

In [81]:
"""for i in range(1,len(l[0].findAll('row'))):
    li = l[0].findAll('row')[i].text.split('\n')[4:]
    df.loc[i] = li
print('finish')"""

finish

In [27]:
df2.drop(['del0','del1','del2','del3','del4','del5','del6','del7','del8','del9','del10','del11', 'del12'], axis = 1, inplace = True)
df2.head()

,연도,시설번호,시설명,주소,사용여부,면적,이용가능인원수,선풍기보유대수,에어컨보유대수,야간개방,휴일개방,숙박가능여부,위도,경도
0,2021,001,작금여자경로당,전라남도 여수시 돌산읍돌산로 616-4,Y,78,50,1,1,N,Y,N,34.59401600,127.76525000
1,2021,001,봉양경로당,전라남도 여수시 돌산읍봉양길 72-1,Y,107,46,1,1,N,Y,N,34.64132700,127.74274500
2,2021,001,계동경로당,전라남도 여수시 돌산읍계동안길 25,Y,171,60,1,1,N,Y,N,34.66337900,127.79044400
3,2021,001,남외경로당,전라남도 여수시 돌산읍남외길 13-7,Y,86,23,1,1,N,Y,N,34.61508300,127.72186800
4,2021,001,하동경로당,전라남도 여수시 돌산읍상하동길 187,Y,103,41,1,1,N,Y,N,34.71429300,127.77830700

In [28]:
df2.to_csv('C:/datafile/무더위쉼터정보new.csv', encoding = 'utf-8-sig')

In [49]:
df2.reset_index(inplace = True, drop = True)

In [50]:
df2['주소'][0]

'전라남도 여수시 돌산읍돌산로 616-4'

In [3]:
import pandas as pd
df2 = pd.read_csv('C:/datafile/무더위쉼터정보new.csv', encoding = 'utf-8')
df2.head()

,Unnamed: 0,연도,시설번호,시설명,주소,사용여부,면적,이용가능인원수,선풍기보유대수,에어컨보유대수,야간개방,휴일개방,숙박가능여부,위도,경도
0,0,2021,1,작금여자경로당,전라남도 여수시 돌산읍돌산로 616-4,Y,78,50.0,1.0,1.0,N,Y,N,34.594016,127.765250
1,1,2021,1,봉양경로당,전라남도 여수시 돌산읍봉양길 72-1,Y,107,46.0,1.0,1.0,N,Y,N,34.641327,127.742745
2,2,2021,1,계동경로당,전라남도 여수시 돌산읍계동안길 25,Y,171,60.0,1.0,1.0,N,Y,N,34.663379,127.790444
3,3,2021,1,남외경로당,전라남도 여수시 돌산읍남외길 13-7,Y,86,23.0,1.0,1.0,N,Y,N,34.615083,127.721868
4,4,2021,1,하동경로당,전라남도 여수시 돌산읍상하동길 187,Y,103,41.0,1.0,1.0,N,Y,N,34.714293,127.778307

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315245 entries, 0 to 315244
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  315245 non-null  int64
 1   연도          315245 non-null  int64
 2   시설번호        315245 non-null  int64
 3   시설명         315244 non-null  object
 4   주소          290828 non-null  object
 5   사용여부        315245 non-null  object
 6   면적          315245 non-null  int64
 7   이용가능인원수     315244 non-null  float64
 8   선풍기보유대수     300804 non-null  float64
 9   에어컨보유대수     302606 non-null  float64
 10  야간개방        269505 non-null  object
 11  휴일개방        282884 non-null  object
 12  숙박가능여부      122410 non-null  object
 13  위도          198569 non-null  float64
 14  경도          198570 non-null  float64
dtypes: float64(5), int64(4), object(6)
memory usage: 36.1+ MB

In [4]:
l = []

In [57]:
for i in range(0,len(df2)):
    l.append(df2['주소'][i].split(' ')[0])

In [58]:
len(l)

315245

In [59]:
df2['도'] = l

In [60]:
df2.head(1)

,연도,시설번호,시설명,주소,사용여부,면적,이용가능인원수,선풍기보유대수,에어컨보유대수,야간개방,휴일개방,숙박가능여부,위도,경도,도
0,2021,001,작금여자경로당,전라남도 여수시 돌산읍돌산로 616-4,Y,78,50,1,1,N,Y,N,34.59401600,127.76525000,전라남도

In [61]:
df3 = df2[df2['도'] == '서울특별시']

In [62]:
df3.reset_index(drop = True, inplace = True)

In [64]:
df3.to_csv('C:/datafile/서울시무더위쉼터정보new.csv', encoding = 'utf-8-sig')

In [6]:
df3 = pd.read_csv('C:/datafile/서울시무더위쉼터정보new.csv')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21738 entries, 0 to 21737
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  21738 non-null  int64
 1   연도          21738 non-null  int64
 2   시설번호        21738 non-null  int64
 3   시설명         21738 non-null  object
 4   주소          21738 non-null  object
 5   사용여부        21738 non-null  object
 6   면적          21738 non-null  int64
 7   이용가능인원수     21737 non-null  float64
 8   선풍기보유대수     21287 non-null  float64
 9   에어컨보유대수     21483 non-null  float64
 10  야간개방        18210 non-null  object
 11  휴일개방        18017 non-null  object
 12  숙박가능여부      8992 non-null   object
 13  위도          12899 non-null  float64
 14  경도          12899 non-null  float64
 15  도           21738 non-null  object
dtypes: float64(5), int64(4), object(7)
memory usage: 2.7+ MB

In [7]:
df4 = df3[df3['시설명'].str.find('경로당') == -1].reset_index(drop = True)

In [8]:
df4.to_csv('C:/datafile/서울시무더위쉼터정보_경로당제외new.csv', encoding = 'utf-8-sig')