In [2]:
import pandas as pd

In [32]:
df = pd.read_csv('C:/datafile/노인체감온도_202006.csv', encoding = 'cp949')

16.0

In [34]:
df['지점'].nunique()

417

In [19]:
df2 = df.groupby('지점').mean('낮시간대').iloc[:,9:].reset_index()

In [20]:
df2

        지점       낮시간대
0     가락1동  27.708333
1     가락2동  27.708333
2     가락본동  27.708333
3     가리봉동  27.354167
4      가산동  27.354167
..     ...        ...
412    효창동  27.687500
413    후암동  27.687500
414  휘경제1동  27.687500
415  휘경제2동  27.687500
416    흑석동  27.791667

[417 rows x 2 columns]

In [23]:
df2.to_csv('C:/datafile/노인_6월낮_동별평균기온.csv', encoding = 'utf-8-sig')

In [25]:
df = pd.read_csv('C:/datafile/체감온도_노인_202009_월평균.csv', encoding = 'uf')

In [28]:
df

         지점       지수종류        예보시간  +06시간  +09시간  +12시간       낮시간대
0     청운효자동  체감온도 (노인)  2020090106     31     31     31  31.000000
1       사직동  체감온도 (노인)  2020090106     31     31     31  31.000000
2       삼청동  체감온도 (노인)  2020090106     31     31     31  31.000000
3       부암동  체감온도 (노인)  2020090106     31     31     31  31.000000
4       평창동  체감온도 (노인)  2020090106     31     31     31  31.000000
...     ...        ...         ...    ...    ...    ...        ...
6265  성내제2동  체감온도 (노인)  2020091506     26     28     26  26.666667
6266  성내제3동  체감온도 (노인)  2020091506     26     26     25  25.666667
6267     길동  체감온도 (노인)  2020091506     26     26     25  25.666667
6268  둔촌제1동  체감온도 (노인)  2020091506     26     26     25  25.666667
6269  둔촌제2동  체감온도 (노인)  2020091506     26     26     25  25.666667

[6270 rows x 7 columns]

In [29]:
df2 = df.groupby('지점').mean('낮시간대').iloc[:,4:].reset_index()

In [31]:
df2.to_csv('C:/datafile/노인_9월낮_동별평균기온.csv', encoding = 'utf-8-sig')

In [50]:
df = pd.read_csv('C:/datafile/어린이체감온도_202006.csv', encoding = 'cp949')

In [51]:
df2 = df.groupby('지점').mean().iloc[:,9:].reset_index()

In [53]:
df2.to_csv('C:/datafile/어린이_6월낮_동별평균기온.csv', encoding = 'utf-8-sig')

In [12]:
df = pd.read_csv('C:/datafile/19년6월노인.csv', encoding = 'cp949')

df2 = df.groupby('지점').mean().iloc[:,9:]

df2.to_csv('C:/datafile/2019_노인_6월낮_동별평균기온.csv', encoding = 'utf-8-sig')

In [12]:
df = pd.read_csv('C:/datafile/18년8월어린이.csv', encoding = 'utf-8')

In [41]:
#df = df.iloc[:,1:]

In [13]:
df

        지점     200808
0     가락1동  28.978495
1     가락2동  28.978495
2     가락본동  28.978495
3     가리봉동  28.860215
4      가산동  28.860215
..     ...        ...
419    효창동  28.806452
420    후암동  28.806452
421  휘경제1동  28.709677
422  휘경제2동  28.709677
423    흑석동  28.741935

[424 rows x 2 columns]

In [14]:
idx1 = df[df['지점'].str.contains('1')].index
idx2 = df[df['지점'].str.contains('2')].index
idx3 = df[df['지점'].str.contains('3')].index
idx4 = df[df['지점'].str.contains('4')].index
idx5 = df[df['지점'].str.contains('5')].index
idx6 = df[df['지점'].str.contains('6')].index
idx7 = df[df['지점'].str.contains('7')].index
idx8 = df[df['지점'].str.contains('8')].index
idx9 = df[df['지점'].str.contains('9')].index
idx10 = df[df['지점'].str.contains('10')].index

In [15]:
df1 = df.loc[idx1,]
df1['지점'] = df.loc[idx1, ]['지점'].replace('(.*)제1동', r'\1동', regex = True)
df1['지점'] = df1['지점'].replace('(.*)1동', r'\1동', regex = True)


df2 = df.loc[idx2,]
df2['지점'] = df.loc[idx2, ]['지점'].replace('(.*)제2동', r'\1동', regex = True)
df2['지점'] = df2['지점'].replace('(.*)2동', r'\1동', regex = True)


df3 = df.loc[idx3,]
df3['지점'] = df.loc[idx3, ]['지점'].replace('(.*)제3동', r'\1동', regex = True)
df3['지점'] = df3['지점'].replace('(.*)3동', r'\1동', regex = True)


df4 = df.loc[idx4,]
df4['지점'] = df.loc[idx4, ]['지점'].replace('(.*)제4동', r'\1동', regex = True)
df4['지점'] = df4['지점'].replace('(.*)4동', r'\1동', regex = True)


df5 = df.loc[idx5,]
df5['지점'] = df.loc[idx5, ]['지점'].replace('(.*)제5동', r'\1동', regex = True)
df5['지점'] = df5['지점'].replace('(.*)5동', r'\1동', regex = True)


df6 = df.loc[idx6,]
df6['지점'] = df.loc[idx6, ]['지점'].replace('(.*)제6동', r'\1동', regex = True)
df6['지점'] = df6['지점'].replace('(.*)6동', r'\1동', regex = True)


df7 = df.loc[idx7,]
df7['지점'] = df.loc[idx7, ]['지점'].replace('(.*)제7동', r'\1동', regex = True)
df7['지점'] = df7['지점'].replace('(.*)7동', r'\1동', regex = True)


df8 = df.loc[idx8,]
df8['지점'] = df.loc[idx8, ]['지점'].replace('(.*)제8동', r'\1동', regex = True)
df8['지점'] = df8['지점'].replace('(.*)8동', r'\1동', regex = True)


df9 = df.loc[idx9,]
df9['지점'] = df.loc[idx9, ]['지점'].replace('(.*)제9동', r'\1동', regex = True)
df9['지점'] = df9['지점'].replace('(.*)9동', r'\1동', regex = True)


df10 = df.loc[idx10,]
df10['지점'] = df.loc[idx10, ]['지점'].replace('(.*)제10동', r'\1동', regex = True)
df10['지점'] = df10['지점'].replace('(.*)10동', r'\1동', regex = True)

In [16]:
d = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])

d1 = d.sort_index()

d2 = df.loc[list(set(df.index) - set(d.sort_index().index)),:]

d3 = pd.concat([d1,d2]).sort_index()

d3.to_csv('C:/datafile/18어린이9정리.csv', encoding = 'utf-8-sig')

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/datafile/법정동별_공시지가_2020.csv', encoding = 'cp949')

In [9]:
df['법정동명'] = df['법정동명'].replace('(.*)[0-9]가',r'\1', regex = True)

In [11]:
df.to_csv('C:/datafile/공시지가2020.csv', encoding = 'utf-8-sig')